<div class='message-block'>
  <p><%= message.content %></p>
  <% if message.user_chat.user.photo.present? %>
    <%= cl_image_tag message.user_chat.user.photo, class: 'avatar', style: 'height:50px ;width:50px;' %>
  <% else %>
    <%= image_tag 'user.png', class: 'avatar dropdown-toggle', style: 'height:50px ;width:50px;object-fit:cover' %>
  <% end %>
</div>
<p class='time'><%= message.created_at %></p>
