  <div class="wrapper">
    <div class="page-header clear-filter page-header-small" filter-color="orange">
      <div class="page-header-image" data-parallax="true" style="background-image: linear-gradient(0deg,rgba(44,44,44,.2),rgba(224,23,3,.6)), url('https://images.unsplash.com/photo-1501503069356-3c6b82a17d89?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');">
        <div class="profile-container">
          <%= image_tag "https://images.unsplash.com/photo-1529008338-310c24f458ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=375&q=80", class: "avatar", style: 'height:150px ;width:150px;object-fit:cover' %>
          <h3 class="title">Ryan Scheinder</h3>
          <p class="category">Photographer</p>
          <div class="button-container">
            <a href="#button" class="btn btn-round" rel="tooltip" title="Follow me on Twitter">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#button" class="btn btn-round" rel="tooltip" title="Follow me on Instagram">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#button" class="btn btn-round" rel="tooltip" title="Follow me on Instagram">
              <i class="fab fa-facebook"></i>
            </a>
          </div>
        </div>
    </div>
    <div class="section my-5">
      <div class="profile-container">
        <h3 class="title">Sobre mim</h3>
        <p class="description px-5">An artist of considerable range, Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. An artist of considerable range.</p>
        <h4 class="title text-center">Meus Cursos</h4>
        <div class="nav-align-center">
          <ul class="nav nav-pills nav-pills-primary nav-pills-just-icons" role="tablist">
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#profile" role="tablist">
                <i class="now-ui-icons design_image"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#home" role="tablist">
                <i class="now-ui-icons location_world"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#messages" role="tablist">
                <i class="now-ui-icons sport_user-run"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Tab panes -->
      <div class="tab-content gallery">
        <div class="tab-pane active" id="home" role="tabpanel">
          <div class="col-md-10 ml-auto mr-auto">
            <div class="row collections">
              <div class="col-md-6">
                <img src="../assets/img/bg1.jpg" alt="" class="img-raised">
                <img src="../assets/img/bg3.jpg" alt="" class="img-raised">
              </div>
              <div class="col-md-6">
                <img src="../assets/img/bg8.jpg" alt="" class="img-raised">
                <img src="../assets/img/bg7.jpg" alt="" class="img-raised">
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="profile" role="tabpanel">
          <div class="col-md-10 ml-auto mr-auto">
            <div class="row collections">
              <div class="col-md-6">
                <img src="../assets/img/bg6.jpg" class="img-raised">
                <img src="../assets/img/bg11.jpg" alt="" class="img-raised">
              </div>
              <div class="col-md-6">
                <img src="../assets/img/bg7.jpg" alt="" class="img-raised">
                <img src="../assets/img/bg8.jpg" alt="" class="img-raised">
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="messages" role="tabpanel">
          <div class="col-md-10 ml-auto mr-auto">
            <div class="row collections">
              <div class="col-md-6">
                <img src="../assets/img/bg3.jpg" alt="" class="img-raised">
                <img src="../assets/img/bg8.jpg" alt="" class="img-raised">
              </div>
              <div class="col-md-6">
                <img src="../assets/img/bg7.jpg" alt="" class="img-raised">
                <img src="../assets/img/bg6.jpg" class="img-raised">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
