<div class="cont-cursos">
  <div class="filter">
    <h3>Filtrar</h3>
  </div>
    <div class="cards">
    <% @cursos.each do |c| %>
      <div class="card-cursos">
      <img src="https://picsum.photos/id/237/500/200" />
        <div class="card-cursos-infos">
          <div>
            <h2 style="color: white"> <%= c.name %> </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nobis quaerat quasi unde facilis dolorem odit, odio, vel a aliquid eligendi qui voluptatibus totam, omnis beatae natus inventore dolores ullam.</p>
          </div>
        </div>
      </div>
    <% end %>
    </div>
</div>
