<div class="container my-5">
  <div class="grids">
    <% @faculdades.each do |faculdade| %>
      <div class="faculdade">
        <p class="title"><%=  faculdade.name %></p>
      </div>
    <% end %>
  </div>
</div>
