.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  width: 100%;
  object-fit: cover;
  height: 50vw;
  background-image: linear-gradient(0deg,rgba(44,44,44,.2),rgba(224,23,3,.6)), url("https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png");
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.vh {

}
