.facu-container {
  height: auto;
  background-image: white;
  h1,h2,h3 {
    font-family: Arial;
  }
  // h2 {
  //   font-family: Arial;
  // }
  // h3 {
  //   font-family: Arial;
  // }
}


.facu-box {
  background-color: white;
  padding: 3vh;
  margin-bottom: 4vh;
  height: auto;
  font-weight:1vh;
  p {
    padding: 0.3vh;
  }
  box-shadow: 0 10px 30px rgba(0,0,0,.3);
  border-radius: 5px;

}

.facul-banner {
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: white;
  display: flex;
  font-size: 24px;
  font-weight: bold;
  height: 71vh;
  justify-content: center;
  margin-bottom: 6vh;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: -webkit-center;
}



.tab-center {
  justify-content: center;
}


.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

.tab-panel {
  h2 {
    text-align: center;
    margin-bottom: 3vh;
  }
}


/*
 Styling
*/


.tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 15px 25px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 400;
  color: #9A9A9A;
}



.tabset > label:hover,
.tabset > input:focus + label {
  color: #f96332;
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: #f96332;
}



.tab-panel {
  padding: 4vh 0;
  border-top: 1px solid #ccc;
}


/*
 Demo purposes only
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}


.tabset {
  max-width: 65em;
  border-radius: 5px;
  padding: 5vh;
  box-shadow: 0 10px 30px rgba(0,0,0,.3);
  h2 {
    font-size: 4vh;
  }
}

.tabset {
  .fa {
    font-size: 7vh;
  }
}

#map {
  width: 361px;
  height: 361px;
}



.comments {
  h1, h2 {// Going to have to switch this to something i can @extend
    margin-left: 14px;
  }

  h1 {
    margin-bottom: 0.1em;
  }

  h2 {
    font-size: 1em;
  }

  form {
    h2 {
      margin-left: 0px;
    }

    textarea {
      height: 80px;
    }
  }

  .comment {
    h3 {
      font-weight: 500;
      margin-bottom: 0;
    }

    p {
      font-size: 0.9em;
    }

    padding: 1.5em;
    border: 1px solid #e8e8e8;
    margin-bottom: 1em;
  }
}



.info-icon {
  text-align: center;
}
.info-icon .icon {
  font-size: 62px;
  line-height: 66px;
  color: #c5a47e;
  margin-bottom: 10px;
}
.info-icon .description {
  margin-top: 15px;
  color: #777777;
}

.section {
  padding: 4vh 0;
  position: relative;
  background-color: #FFFFFF;
}

.section .title-area {
  max-width: 760px;
  margin: 0 auto 50px;
  display: block;
  padding: 0 15px;
  text-align: center;
}
.section .title-area .description {
  font-size: 16px;
  color: #777777;
}
.section [class*="col-"] .title-area {
  padding: 0;
}

.description-facu {
  li {
    color: #777777;
    a {
      color: #777777;
    }
  }
  list-style: none;
}

.description-facu {
  a:hover {
    text-decoration: none;
  }
}

.description-facu {
  li:hover {
    color: black;
  }
}


.row-container {
  margin: 0;
  display: flex;
  flex-direction: columns;
  justify-content: space-around;
  border-bottom: 1px solid;
  border-color: #ccc;
  padding-bottom: 5vh;
}

.row-container {
  .fa {
    font-size: 7vh;
    color: #f96332;
    opacity: 0.9;
    margin-bottom: 3vh;
  }
}

.comments {
  text-align: center;
}

.comments h2 {
    margin-bottom: 2vh;
}

.comments .comment {
  padding: 1vh;
  border: 2px solid #E8E8E8;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  width: 71vh;
  height: 19vh;
  margin: auto;
  margin-bottom: 2vh;
  .fa-star {
    color: #edb866;
  }
}

.comments form textarea {
    height: 12vh;
    border-radius: 5px;
    width: 56vh;
}

.comment-submit {
  button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
    border-radius: 5px;
    background-color: #f96332;
    opacity: 0.85;
    color: white;
  }
}

.comment-submit {
  button:hover {
    border: solid;
    border-color: white;
  }
}

.title-area {
  h2 {
    margin-bottom: 3vh;
  }
  p {
    border-top: 1px solid;
    border-color: rgba(249,99,50,0.45);
    padding-top: 3vh;
  }
}

.review_rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-submit [type="submit"]:not(:disabled) {
  opacity: 0.85;
  color: white;
  padding: 2vh;
  border-radius: 6vh;
}

.comment-submit [type="submit"]:not(:disabled):hover {
  opacity: 1;
}

summary {
  color: #9A9A9A;
}

summary:hover {
  color: black;
  opacity: 0.65;
}
