.facu-container {
  height: 273vh;
  background-image: white;
}


.facu-box {
  background-color: white;
  padding: 3vh;
  margin-bottom: 4vh;
  height: 188vh;
  font-weight:1vh;
  p {
    padding: 0.3vh;
  }
  box-shadow: 0 10px 30px rgba(0,0,0,.3);
  border-radius: 5px;

}




.facul-banner {
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: white;
  display: flex;
  font-size: 24px;
  font-weight: bold;
  height: 71vh;
  justify-content: center;
  margin-bottom: 6vh;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}



.tab-center {
  justify-content: center;
}


.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

/*
 Styling
*/


.tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 15px 25px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 400;
}



.tabset > label:hover,
.tabset > input:focus + label {
  color: #f96332;
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: #f96332;
}



.tab-panel {
  padding: 30px 0;
  border-top: 1px solid #ccc;
}


/*
 Demo purposes only
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}


.tabset {
  max-width: 65em;

  border-radius: 5px;
  padding: 5vh;
  box-shadow: 0 10px 30px rgba(0,0,0,.3);
  h2 {
    font-size: 4vh;
  }
}

.fa {
  font-size: 7vh;
}


#map {
  width: 361px;
  height: 361px;
}
