footer {
  padding: 50px 0 50px;
  background-color: $primary-color;
  h4.footer_title {
    text-transform: uppercase;
    padding: 10px 0;
    font-size: 18px;
    color: #ffffff;
  }
}


.footer-box-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  margin-bottom: 5%;
  .footer_header{
    margin-bottom: 10px;
    .footer_logo {
      text-align: center;
      img {
        width: 200px;
      }
    }
  }
  .footer_social{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
    a{
      display: flex;
      align-items: center;
      justify-content: center;
      border: solid 1px white;
      border-radius: 50%;
      padding: 7px 0;
      font-size: 22px;
      color: white;
      width: 55px;
      height: 55px;
      text-align: center;
      transition: 0.2s ease;
      &:hover{
        background-color: white;
        color: $primary-color;
        text-decoration: none;
      }
    }
  }
}


ul.instagram_list {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    display: inline-block;
    width: 30%;
    margin: 0 0 2% 2%;
    float: left;
    img {
      width: 100%;
    }
  }
}

.footer-box-2 {
  display: flex;
  flex-direction: column;
}


.footer_menu {
  font-size: 15px;
  display: flex;
  justify-content: space-around;
  padding-top: 5%;
  margin: 0;
  list-style: none;
  a {
      padding: 10px;
      color: white;
      &:hover{
        color: white;
        text-decoration: none;
      }
    }
  }


.footer-box-body {
  display: flex;
  flex-direction: column;
  .newsletter_form {
    .form-control {
      background-color: $opacity-5;
      border: solid 1px $primary-color-alert;
      font-weight: 500;
      color: #ffffff;
    }
    .button {
      margin-top: 5%;
      width: 100%;
      color: $white-color;
      transition: 0.5s ease;
      border-radius: 20px;
      padding: 10px 20px !important;
      background-color: $opacity-3;
      border: none;
      &:hover {
        background-color: $opacity-8;
        color: $primary-color;
      }
    }
  }

}

// //footer responsive
// @media(max-width:767px){
//   .copyright_footer{
//     text-align: center;
//   }
// }
