.navbar-lewagon {
  padding: 8px 35px;
  justify-content: space-between;
  background: $primary-color;
  text-transform: uppercase;
  font-size: 15px;
  .nav-link {
    color: $white-color;
    transition: 0.5s ease;
    border-radius: 3px;
    &:hover {
      background-color: $primary-states-color;
    }
  }
  .navbar-toggler-icon {
    color: $white-color;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}
