
.pagination {
  margin: 5% 20%;
  padding: 0;
  justify-content: space-evenly;
  a {
    color: $dark-gray;
    text-decoration: none;
    border-bottom: none;
  }
  .current {
    background-color: $primary-color;
    border-color: $primary-color;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    width: 25px;
    box-shadow: 0 5px 25px 0 rgba(0,0,0,.2);
  }
}

