.slider {
  margin: 5% 0;
  .slide {
    text-align: center;
    .slick-slide {
      display: flex;
      justify-content: center;
    }
    img {
      width: 150px;
      margin: 0 auto;
      filter: grayscale(100%);
      opacity: 0.8;
      transition: 0.5s ease;
      &:hover {
        transform: scale(1.1);
        filter: grayscale(0);
        opacity: 1;
      }
    }
  }
}

