.calendar-div {
  background-color: white;
  max-width: 50vw;
  max-height: 1000px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
}

.modal-open .modal {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.btn-secondary {
  background-color: $orange-bg !important;
}
