<div class="col-xs-4 text-align">
  <%= simple_form_for [ faculdade ,review ] do |f| %>
    <%= f.input :content, label: false %>
    <%= f.input :rating, collection: (1..5).to_a, label: "Avalie sua experiência", class: 'review_form' %>
    <%= f.submit "enviar comentário" %>
  <% end %>
</div>
